
<nav class="d-flex justify-content-around bg-dark text-white py-2">

<div>
   <h2> <%= link_to '<', root_path , class: "text-decoration-none text-light" %> </h2>
 </div>


 <div>
     <h2> Login </h2>
 </div>

 <div>
    <i class="fa-solid fa-user fa-2x"></i>
 </div>
   







</nav>