
<nav class="d-flex justify-content-around bg-dark text-white py-2">

<div>
    <h1> <%= link_to '<', categories_path , class: "text-decoration-none text-light" %> </h1>
 </div>


 <div>
     <h2> Categories </h2>
 </div>

 <div>
       
         <% if user_signed_in? %>
         <%= link_to "Sign out", destroy_user_session_path, method: :delete , class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>
           <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
 </div>
   







</nav>