
<%= render "categories/header" %>


<div id="categories" class="d-flex flex-column justify-content-center">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>
<div class="d-flex justify-content-center">
<%= link_to "New category", new_category_path , class: "btn btn-primary py-2 " %>
</div>