
<%= render "categories/header" %>

<h1 class="d-flex  justify-content-center">New category</h1>
<div class="d-flex  justify-content-center">

   <%= render "form", category: @category %>
</div>

<br>

<div class="d-flex justify-content-center ">
  <%= link_to "Back to categories", categories_path , class: "text-light btn btn-danger text-decoration-none" %>
</div>

