
<nav class="d-flex justify-content-around">

<div>
   <%= link_to "Back", category_transactions_path %>
 </div>


 <div>
     <p> TRANSACTIONS </p>
 </div>

 <div>
       
        search bar
 </div>
   







</nav>