
<nav class="d-flex justify-content-around bg-dark text-white py-2">

<div>
    <h1> <%= link_to '<', category_transactions_path , class: "text-decoration-none text-light" %> </h1>
 </div>


 <div>
     <h2> Transactions </h2>
 </div>

 <div>
       
   <i class="fa-solid fa-magnifying-glass fa-2x"></i>
 </div>
   







</nav>